<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="build/css/style.css">
</head>
<body>
@@include('inc/header.html', {"headerType": "article1"})
<div id="data"></div>
</body>
</html>
<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>
    var dataLists = [{
        "time": "2017-02-27 14:52:16"
    }, {
        "time": "2017-02-27 13:52:16"
    }, {
        "time": "2017-02-25 14:52:16"
    }, {
        "time": "2017-01-13 14:52:16"
    }, {
        "time": "2016-12-13 14:52:16"
    }];
    function dateFormat(data) {
        var html = '',
            flag = [],
            cur = new Date(),
            curYear = cur.getFullYear().toString(),
            curMonth = (cur.getMonth() + 1) < 10 ? ('0' + (cur.getMonth() + 1)) : (cur.getMonth() + 1).toString(),
            curDate = cur.getDate().toString();
        $.each(data, function (i) {
            var fmtYear = data[i].time.split(' ')[0].split('-')[0],
                fmtMonth = data[i].time.split(' ')[0].split('-')[1],
                fmtDate = data[i].time.split(' ')[0].split('-')[2];
            if ($.inArray((fmtYear + fmtMonth), flag) > -1) {
                if (fmtYear === curYear) {
                    if (fmtMonth === curMonth) {
                        if (fmtDate === curDate) {
                            html += '<p>今日<br>' + data[i].time.split(' ')[1] + '</p>';
                        } else {
                            html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                        }
                    } else {
                        html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                    }
                } else {
                    html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                }
            } else {
                flag.push(fmtYear + fmtMonth);
                if (fmtYear === curYear) {
                    if (fmtMonth === curMonth) {
                        html += '<h2>本月</h2>';
                        if (fmtDate === curDate) {
                            html += '<p>今日<br>' + data[i].time.split(' ')[1] + '</p>';
                        } else {
                            html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                        }
                    } else {
                        html += '<h2>' + fmtMonth + '月</h2>';
                        html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                    }
                } else {
                    html += '<h2>' + fmtYear + fmtMonth + '</h2>';
                    html += '<p>' + fmtDate + '日<br>' + data[i].time.split(' ')[1] + '</p>';
                }
            }
        });
        return html;
    }
    $(function () {
        var $list = $('#data');
        $list.html(dateFormat(dataLists));
    });
</script>